<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <p><b>트랜잭션(tx) 수              : </b> <%=result.tx_length%></p>
    <p><b>평균 트랜잭션의 값(value)   : </b> <%=result.avg_value%></p>
    <p><b>평균 트랜잭션의 수수료(fee) : </b> <%=result.avg_fee%></p>
    <p><b>평균 트랜잭션의 크기(size)  : </b> <%=result.avg_size%></p>
    <a href="http://localhost:3000/blocks/<%=result.hash%>/input">input 보기</a>
    <a href="http://localhost:3000/blocks/<%=result.hash%>/output">output 보기</a>
    <a href="#" onclick="history.go(-1)">뒤로 가기</a>
</body>
</html>
